* {
    background-color: #e4e4e4;
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
}

/* main styles */
main {
    height: 90vh;
    margin: 5vh auto;
    width: 40vw;
}

/* display styles */
.display {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: flex-end;
    padding-right: 5%;
}

.display div {
    background-color: inherit;
    line-height: 1.4;
    overflow: auto;
    text-align: right;
}

.user-input {
    font-size: 2rem;
}

.result {
    font-size: 3rem;
}

/* button styles */
.buttons {
    display: flex;
    height: 60%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.col {
    background-color: #474747;
    border: 1px solid transparent;
    color: white;
    font-size: 2rem;
    height: 25%;
    width: 33.33333%;
}

.operators-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.col-special {
    background-color: #909090;
    border: 1px solid transparent;
    color: white;
    font-size: 1.5rem;
    height: 16.666666666666668%;
}

/* side column styles */
.side-column {
    background-color: #4cffa6;
    width: 5%;
}

/* Media Queries */

@media screen and (max-width: 800px) and (orientation: portrait) {
    main {
        height: 80vh;
        margin: 10vh auto;
        width: 80vw;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    main {
        height: 90vh;
        margin: 5vh auto;
        width: 60vw;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    main {
        height: 80vh;
        margin: 10vh auto;
        width: 90vw;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    main {
        height: 90vh;
        margin: 5vh auto;
        width: 80vw;
    }
}