* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    background-color: #e4e4e4;
}

/* main styles */
main {
    width: 520px;
    margin: 0 auto;
    margin-top: 30px;
}

/* display styles */
.user-input {
    height: 90px;
    width: 520px;
    padding: 15px;
    font-size: 55px;
    text-align: right;
    background-color: white;
}

.result {
    height: 100px;
    width: 520px;
    padding: 15px;
    font-size: 65px;
    text-align: right;
    background-color: white;
}

/* button styles */
.buttons {
    width: 400px;
    float: left;
}

/* flex styles */
.flex-container {
    display: flex;
}

.col {
    flex: 1;
    height: 100px;
    background-color: #474747;
    font-size: 40px;
    border: 1px solid transparent;
    color: white;
}

.operators-container {
    display: inline-flex;
    flex-direction: column;
    float: left;
}

.col-special {
    height: 66.7px;
    width: 100px;
    font-size: 27px;
    background-color: #909090;
    border: 1px solid transparent;
    color: white;
}

/* side column styles */
.side-column {
    width: 20px;
    height: 400px;
    display: inline-block;
    background-color: #4cffa6;
}